.form-container {
  background: transparent;
  padding: 30px 50px;
  border: 2px solid rgb(121, 115, 115);
  box-shadow: 15px 15px 1px #2fae37, 15px 15px 1px 2px black;
  margin: 7rem auto;
}

.h1, .h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width: 678px) {
  .form-container {
    margin: 3rem 0;
    
  }

}


