name: Lint

on:
  push:
    branches:
      - prod
      - staging
  pull_request:
    branches:
      - prod
      - staging

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npm run lint
